
.required{
    color: var(--main-color)
}
.input{
    margin: 3px 0px 10px;
    width: 400px;
    background: var(--light-gray);
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 14px;
    outline: none;
}
input{height: 35px;}
textarea{
    height: 100px;
}