.cart_panel{
    background-color: var(--very-light-gray);
    padding: 40px 5%;
    float: left;
}
.item_total{
    font-size: 20px;color: var(--light-mode-text-color);font-weight: bold;
}
.cart_item_div{
    margin-top: 20px;
    background-color: var(--light-mode-color);
    position:relative;
    
}
.product img{
    width: 100px;
    height: 120px;
    float: left;
    margin: 20px;
}
.product > div{
    float: left;
    width: calc(100% - 400px);
    padding: 20px;
    height: 160px;
    border-right: 1px solid var(--light-gray);
}
.product .productName{
    font-size: 22px;
    font-weight: bold;
}
.description,.star{display:none}
.product{background-color: var(--light-mode-color);width: 100%;float:left;}
.product .buttonParagraph{position: absolute; bottom: 0px; width: 100%}