:root{
    --item-width:calc(100% - 500px);
    --cart-height: 160px;
}
.cart_panel{
    background-color: var(--very-light-gray);
    padding: 40px 5%;
    float: left;
}
.cart_title{float: left;position: relative;}
.cart_title span{float: left;}
.cart_title > span:first-child{width: var(--item-width);margin-right: 160px;}
.cart_title > span:nth-child(3){margin-left: 50px;}
.cart_title > span:nth-child(4){position: absolute;right: 25px;}
.item_total{
    font-size: 20px;color: var(--light-mode-text-color);font-weight: bold;
}
.cart_item_div{
    margin-bottom: 20px;
    background-color: var(--light-mode-color);
    position:relative;
    
}
.product img{
    width: 100px;
    height: 120px;
    float: left;
    margin: 20px;
}
.product > div{
    float: left;
    width: var(--item-width);
    padding: 20px;
    height: var(--cart-height);
    position: relative;
    border-right: 1px solid var(--light-gray);
}
.product .productName{
    font-size: 22px;
    font-weight: bold;
}
.description,.star{display:none}
.product{background-color: var(--light-mode-color);width: 100%;float:left;}
.product .buttonParagraph{position: absolute; bottom: 0px; width: 100%}

.quantity{
    position: absolute;
    left: calc(100% - 250px);width: 250px;
    height: var(--cart-height);
}
.quantity > div{
    border-right: 1px solid var(--light-gray);
    height: 100%;
    padding: 20px 10px;
    float: left;
}
.quantity > div:first-child{width: 60%}
.quantity > div:last-child{width: 40%;}
.quantiy_input, .quantity input{
    width: 50px;
}
.emptyCart{
    padding: 20px;background-color: #fff; border: 1px solid #e6e6e6; border-radius: 5px;
    text-align: center;
}
.emptyCart h2{
    color: #0e2058;
}
.emptyCart span{
    display: inline-block;background-color: red;width: 60px; height: 60px;border-radius: 50%;
    padding: 15px 10px
}
.emptyCart .icon{font-size: 25px;color: #fff;font-weight: bold;}
.start{
    background-color: #0e2058;color: #fff; padding: 10px 40px; border-radius: 5px;
    border: 2px solid #0e2058;
}
.start:hover{
    background-color: #f2f2f2;color: #0e2058;
}
.emptyCart p{margin-top: 30px;}
.subImg,.star{display: none;}

.uCart > div{
    padding: 10px;
}
.uCart >div > div{
    background-color: #fff;padding: 10px
}
.uCart > div:first-child > div{
    margin-bottom: 10px;
}
.cItem > img{float: left}
.cItem > div:first-child{float: left; width: calc(100% - 120px);padding-left: 10px;}


.productName{font-size: 18px;font-weight:bold; color: #0e2058;display: inline-block;padding-bottom: 5px;}
.productPrice{color:#000;font-weight: bold;font-size: 16px;margin-right: 5px;}
.reduction{
    color: #fff;
    background-color: var(--primary-color);
    padding: 3px;
    margin-top: 3px;
    float: right;
    border-radius: 3px;
}

@media screen and (min-width: 801px) {
    .prices{
        float: right;
        margin-top: -22px;
    }
    .productName{margin-right: 90px !important;}
}
@media screen and (max-width: 800px) {
    .uCart{
        display: flex !important;
        flex-direction: column-reverse;
    }
    .uCart > div{width: 100% !important; float: left;}
    .cItem > div{width: 100%; float: left;}
    .prices{
        display: block;width: 100%;
        float: left;
    }
    .reduction{margin-top: -23px;}
}
.addRemove{padding-top: 10px;width: 100%;float: left;}
.delete{color: #595959 !important;cursor: pointer;}
.delete span{float: left;margin-top: 3px;margin-left: 2px;}
.addRemove .icon{font-size: 22px;float:left}
.maddrem{float: right} .maddrem .input{float: left;width: 40px;text-align: center;}
.maddrem .icon{
    background-color: #0e2058;color:#fff;margin:0px 2px;border-radius: 4px;
}
.subtotal{font-weight: bold; font-size: 16px;float:right;}
.summary{
    line-height: 1.6em;
}
.summary > span:first-child{color: #0e2058;font-weight: bold; font-size: 20px;display:block;}
.summary > div{border-top: 1px solid #f2f2f2;margin-top: 15px;padding-top: 10px;}
.summary p{text-align: center;}
.summary a{ text-decoration: none;
    background-color: var(--primary-color); color: #fff;padding: 10px 30px;border-radius: 10px;border: 2px solid var(--primary-color);font-weight: bold;
}
.summary p{
    margin-top: 30px;
}