@import url("./constants/site_contants.css");
.product > img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid var(--gray);
}
.product div > span, .product p{padding: 5px 15px}
.product div > span{display: inline-block;}
.product{
    border-radius: 10px;
    width: 100%;
    background-color: var(--light-mode-color);
    border: 1px solid var(--gray);
    height: 430px; position: relative;
}
.product .buttonParagraph{text-align: center; position: absolute; bottom: 10px; width: 100%}
.product:hover{
    box-shadow: 0px 1px 17px 0px var(--very-light-gray);
}
.product_parent{
    padding: 10px;
}
.productName{font-size: 16px;color: var(--light-mode-text-color);}
.productPrice{color:var(--dark-mode-color);font-weight: bold;}
.product_div{
    background-color: --var(--very-light-gray);
    padding-top: 10px;
}
.description{display: none;}