.product_details_content{
    background-color: rgba(242,242,242,0.5);
    padding: 20px 10%;
    float:left;
}
.product img{
    width: 200px;
    height: 250px;
    float: left;
}
.product > div{
    float: left;
    width: calc(100% - 200px);
    padding: 20px 10px;

}
.product .productName{
    font-size: 22px;
    font-weight: bold;
}
.product{background-color: #fff;width: 100%;float:left;}
.btn{background-color: #f68b1c;color: white;border-width: 0px;padding: 10px 30px; border-radius: 20px;}
.btn:hover{border: 2px solid #f68b1c; background-color: transparent;color:#f68b1c;}